<!doctype html>
<html>

<head>
  <title>Hello from Flask</title>
  <link href="/static/style.css" type="text/css" rel="stylesheet">
</head>

<body>
  {% if name %}
  <h1>Hello {{ name }}!</h1>
  {% else %}
  <h1>Hello, World!</h1>
  {% endif %}
</body>

</html>